.card {
  width: 320px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.image {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.price {
  color: green;
}

.buyButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.title {
  color: #222 !important;
  font-size: 32px;
  font-weight: bold;
}
.buyButton:hover {
  background-color: #0056b3;
}